.tabs {
    display: flex;
    justify-content: space-evenly;
}

.tab {
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 50%;
}

.taskList {
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    height: 65vh;
}